
<div class="row" style="margin-top:100px; margin-bottom:300px;">
  <div class="mt-5" style="width:100%;">
    <h3 class="text-main ">ジャンル検索</h3>
    <div id="top-pub_products" >
      <!--eachのひとかたまり-->
      <% @genres.each do |genre|  %>
      <div id="pub_product" class="card shadow-sm">
        <!--ジャンル画像-->
        <div class="card-img-top">
          <%= attachment_image_tag genre,:genre_image ,:fill,200,150,fallback: "no_image.png",size: "200x150" %>
        </div>
        <!--ジャンルネーム-->
        <div class="card-body">
          <div class="mb-2">
          　<%= link_to public_search_genre_path(genre_id: genre.id), class: "text-dark" do%>
            　<%= genre.genre_name %>
          　<% end %>
        　</div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
