<div class="container"style="margin-bottom:200px;">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="text-center">
        <h1 class="text-main">Concept</h1>

        <div class="mt-5" id="about-card-img">
          <%= image_tag "img/cake4.jpg",size: '600x400' %>
        </div>

        <div class="flame-image">
          <%= image_tag "img/82096.jpg",size: '600x400'%>
          <p class="mt-5">Nagano Cakeは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。
          </p>
        </div>

        <div class="mt-5" id="about-card-img">
          <%= image_tag "f7265592d8c03c15f143f082ab885c280c9ac2b0.jpeg.webp" %>
        </div>

        <div class="mt-5" id="about-card-img">
          <%= image_tag "img/cake5.jpg",size: '600x400' %>
        </div>

    </div>
  </div>
</div>