<div class = "container" style="margin-bottom: 100px;">
  <div class = "row">
    <div class = "flame-image">
      <%= image_tag "img/flame.jpg" %>
      <h4>ご購入ありがとうございました！<br />
    またのお越しをお待ちしております<br />
      </h4>
    </div>
  </div>
</div>