/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";



.pagination {
  justify-content: center;
}

.pagination {
  justify-content: center;
}

header{
  background-color:#deb887;
}

.header-name{
  color:#ffffff;
}
.nav-text{
  color:#ffffff;
}



.thead{
  background-color:#f5deb3;
}
.thead-text{
  color:#ffffff;
}

.btn{
  background-color:#ffcc66;
}

#pub_products{
  display:flex;
  flex-wrap:wrap;
}
#pub_product{
  margin-right:50px;
  margin-top:100px;
  margin-left:20px
}
.card-img{
  width:100%;
  height:100px;
}
#product_img{
  width:300px;
  height:200px;
}

// PUBLIC/TOPの
#top-card{
  width:100%;
  padding:0;
  position:relative;
}

#top-card-img{
  width:100%;
  height:800px;
}


#top-btn{
  display:flex;
  justify-content:center;
  margin-top:60px;
}
#top-card-text{
  width:100%;
}

#top-card-text p{
  padding-top:50px;
  height:200px;
  font-size:17px;
  background: rgba(255,255,255,0.6);
  font-family: 'Anton', sans-serif;
}

#top-pub_products{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

#about-card-img{
  width:100%;
  height:400px;
}

// 商品詳細画面のCSS

#product-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-img-detail{
  width:600px;
  height:400px;
}

#product-text-detail{
  margin-top:50px;
}

// マイページのタイトル全てのフォント
#member-title{
 font-family: 'Noto Sans JP', sans-serif;
}


  #search2{
  display:none;
  }


@media screen and (max-width:768px) {
  #search1{
  display:none;
  }

  #search2{
  display:block;
  }

  #pub_products{
  display:block;
  }

  #pub_product{
  margin-right:0px;
  margin-top:50px;
  }
  .card-img{
    width:400px;
    height:250px;
  }
  .product_img{
  width:400px;
  height:250px;
  }

}



  .thead{
    background-color:#f0e68c;
    color:#ffffff;
  }
  .btn-o{
    border:solid 1px #ffa500;
    color:#ffa500;
    background:#ffffff;
  }
  .btn-r{
    border:solid 1px #ff0000;
    color:#ff0000;
    background:#ffffff;
  }

  .btn-b{
      border:solid 1px #4169e1;
      color:#4169e1;
      background:#ffffff;
    }
  .text-r{
    color:#ff0000;
    text-decoration: none;
  }
  .text-b{
    color:#4169e1;
    text-decoration: none;
  }
  .text-o{
    color:#ffa500;
    text-decoration: none;
  }
  .text-main{
    color:#800000;
    border-top:solid 1px #800000;
    border-bottom:solid 1px #800000;
    padding-top:15px;
    padding-bottom:15px;
    width:200px;
    text-align:center;
    font-size:17px;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:40px;
    font-family:"monospace";
  }


  .title-q {
    color: white;
    font-family: serif;
    margin: 30px 20px;
    width: 300px;
    text-align: center;
    background: #deb887;
    padding: 0.5em;
    border-radius: 20px;
  }

body{
  font-family:"serif";
}
